# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Models (large files)
smartstick/models/
yolov8n.pt

# IDE / Editor
.vscode/
.idea/

# System files
*.DS_Store
Thumbs.db

vosk-server/

image.jpg
test.wav
VoiceChatGPT.py
copypaste.txt

